<body class="d-flex flex-column min-vh-100">

  <header class="d-flex align-items-center justify-content-start border-bottom header">
      <img src="assets/logo.png" height="40" class="me-2">
      <span class="text-white fw-bold">DELIDEAL</span>
  </header>

  <main class="flex-grow-1 content">
      <router-outlet></router-outlet>
  </main>

  <footer class="d-flex align-items-center justify-content-center border-top footer text-white">
      Copyright © 2026 Delideal AB
  </footer>

</body>
